/* Samir Khoulani - HW3 Token */
header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
html {
	height: 100%;
}
header {
	color: white;
	background: url('sunset.jpg') center right no-repeat, #000032;
	padding-bottom: 0px;
}
/* This is setting the background color and formatting of the wrapper*/
#wrapper {
	background-color: lightblue;
	width: 80%;
	margin: 0 auto;
	min-width: 600px;
}

/* This sets the font style for any elements with the class resort*/

.resort{
	color: #486082;
	font-weight: bold;
}

/* This sets the formatting for the div with the id content */
#content {
	overflow:hidden;
	padding-left: 50px;
	background-color: white;
	height: 90%;
}

/* This is setting the background image for the body, as well as the formatting */
body {
	background-image:url("ptrbackground.jpg");
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

/* This sets the formatting and style of the nav element */
nav {
	font-weight: bold;
	background-color: lightblue;
	width: 200px;
	float:left;
}

/* This adds an image to every unordered list element, and formats it */
ul {
	list-style-image: url(marker.gif);
	list-style-position: inside;
}
a{
	text-decoration: none;
}

/* This targets unordered list elements within nav elements*/
nav ul {
	font-size: 1.2em;
	list-style:none;
}

/* This targets clicked links within nav elements and changes their colors */
nav a:visited {
	color: #344873;
}

/* This targets links within nav elements that are being hovered over, and
changes their colors*/
nav a:hover {
	color: #FFFFFF;
}

/* This modifies the formatting of h1 elements */
h1 {
	margin-bottom: 0;
	padding: 10px;
}

/* This modifies the formatting of h2 elements */
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}

/* This modifies the div with the id contact*/
#contact {
	font-size: 90%;
}

dt {
	color: #000033;
}

/* This modifies the formatting of the footer of the web page*/
footer {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 12px;
	font-style: italic;
	height: 10%;
	margin-left: 200px;
	padding-left: 50px;
	padding-bottom: 20px;
	background: white;

}

/* This modifies the formatting of the last nested element of the footer*/
footer > :last-child{
	text-decoration: underline;
}

/* This adds formatting to all img elements*/
img {
	float:left;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}
h2 {
	padding-top: 0px;
}
